<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- --Bootstrap_4-- -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- --CSS-- -->
    <link rel="stylesheet" href="../../Css/components/Mains/Banner-1.css">

    <!-- Fontawesome -->
    <link href="../../fontawesome-free-5.9.0-web/css/all.css" rel="stylesheet">
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="Main-1">
        <div class="row">
            <div class="col-lg-5 left">
                <h5>Only Fresh Buggers</h5>
                <h1>Flame <span>Grilled Burger</span></h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident sed eligendi quisquam molestiae
                    laudantium iure</p>

                <div class="button">
                    <button class="btn btn-green">Read More</button>
                    <button class="btn btn-parent">Order Now <i class="fas fa-caret-right"></i></button>
                </div>
            </div>
            <div class="col-lg-7 right" id="right">
                <div class="dots">
                    <span class="dot" onclick="clickDot(1)"></span>
                    <span class="dot" onclick="clickDot(2)"></span>
                    <span class="dot" onclick="clickDot(3)"></span>
                </div>
            </div>
        </div>
    </div>

    <script src="../../JS/Main/Main-1.js"></script>
</body>