<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- --Bootstrap_4-- -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- --CSS-- -->
    <link rel="stylesheet" href="../../Css/components/Mains/Banner-3.css">
</head>

<body>
    <div class="Main-4">
        <div class="row">
            <div class="col-xl-6">
                <div class="text">
                    <h2>Best Fast Food Collection</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sapiente numquam inventore mollitia rem quo qui eveniet? Corrupti</p>
                </div>
                <button class="btn btn-green">
                        Other Now
                </button>
            </div>
            <div class="col-xl-6">
                <div class="text">
                    <h2>Best Fast Food Collection</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sapiente numquam inventore mollitia rem quo qui eveniet? Corrupti</p>
                </div>
                <button class="btn btn-green">
                        Other Now
                </button>
            </div>
        </div>
    </div>
</body>

</html>