<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- --Bootstrap_4-- -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- --CSS-- -->
    <link rel="stylesheet" href="../../Css/components/Mains/ConUs.css">

    <!-- Fontawesome -->
    <link href="../../fontawesome-free-5.9.0-web/css/all.css" rel="stylesheet">
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- CONTACT US -->
    <div class="Contact_Us container">
        <div class="title">
            <h1>Contact <span>Us</span></h1>
            <p>Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.Nemo enim totam rem aperiam.
            </p>
        </div>
        <div class="form">
            <div class="row">
                <div class="col-md-5">
                    <h4>Our Address</h4>
                    <div class="row info">
                        <div class="col-3"><i class="fa fa-address-card" aria-hidden="true"></i></div>
                        <div class="col-9">
                            <p>Address</p>
                            <p>Ho Chi Minh , Viet Nam</p>
                        </div>
                    </div>
                    <div class="row info">
                        <div class="col-3"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div class="col-9">
                            <p>Email</p>
                            <p>abc@gmail.com</p>
                        </div>
                    </div>
                    <div class="row info">
                        <div class="col-3"><i class="fas fa-phone    "></i></div>
                        <div class="col-9">
                            <p>Hotline</p>
                            <p>+84 938 377 837</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form">
                        <input type="text" placeholder="Name">
                        <input type="text" placeholder="Phone">
                        <input type="text" placeholder="Email">
                        <textarea name="" id="" cols="50" rows="10" placeholder="Comment"></textarea>
                        <button class="btn btn-green">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>