<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- --Bootstrap_4-- -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- --CSS-- -->
    <link rel="stylesheet" href="../../Css/components/Mains/Our_Service.css">
</head>

<body>
    <div class="Main-5 container-fluid">
        <div class="title">
            <h5>Our Service</h5>
            <h1>Excellent <span>Services</span></h1>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="item">
                    <div class="text">
                        <h4>Free Shipping</h4>
                        <p>Morbi viverra lacus commodo felis semper lectus feugiat.</p>
                    </div>
                    <img src="../../Pictures/s1.png" alt="">
                </div>
                <div class="item">
                    <div class="text">
                        <h4>Online Other</h4>
                        <p>Morbi viverra lacus commodo felis semper lectus feugiat.</p>
                    </div>
                    <img src="../../Pictures/s2.png" alt="">
                </div>
            </div>
            <div class="col-xl-6">
                <div class="item">
                    <img src="../../Pictures/s3.png" alt="">
                    <div class="text">
                        <h4>Free & Easy Return</h4>
                        <p>Morbi viverra lacus commodo felis semper lectus feugiat.</p>
                    </div>

                </div>
                <div class="item">
                    <img src="../../Pictures/s4.png" alt="">
                    <div class="text">
                        <h4>24/7 Support</h4>
                        <p>Morbi viverra lacus commodo felis semper lectus feugiat.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="img">
            <img src="../../Pictures/img.png" alt="">
        </div>
    </div>
</body>

</html>