<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- --Bootstrap_4-- -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- --CSS-- -->
    <link rel="stylesheet" href="../../Css/components/Mains/Our_Chef.css">

    <!-- Fontawesome -->
    <link href="../../fontawesome-free-5.9.0-web/css/all.css" rel="stylesheet">
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Our Chefs -->
    <div class="Our_chefs container-fluid">
        <div class="title ">
            <h1>Our <span>Chef</span></h1>
            <p>Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.Nemo enim totam rem aperiam.
            </p>
        </div>
        <div class="row">
            <div class="col-xl-3 col-6">
                <img src="../../Pictures/t1.png" alt="" class="img-fluid">
                <div class="follow">
                    <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
                    <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
                    <span><i class="fa fa-dribbble" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="col-xl-3 col-6">
                <img src="../../Pictures/t2.png" alt="" class="img-fluid">
                <div class="follow">
                    <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
                    <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
                    <span><i class="fa fa-dribbble" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="col-xl-3 col-6">
                <img src="../../Pictures/t3.png" alt="" class="img-fluid">
                <div class="follow">
                    <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
                    <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
                    <span><i class="fa fa-dribbble" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="col-xl-3 col-6">
                <img src="../../Pictures/t4.png" alt="" class="img-fluid">
                <div class="follow">
                    <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
                    <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
                    <span><i class="fa fa-dribbble" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>