<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- --Bootstrap_4-- -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- --CSS-- -->
    <link rel="stylesheet" href="../../Css/components/Mains/Tasty.css">
</head>

<body>
    <div class="Main-3 container">
        <div class="title">
            <h5>Tasty</h5>
            <h1>Our <span>Special</span></h1>
        </div>
        <div class="container card-deck">
            <div class="card" style="width:350px">
                <img src="../../Pictures/blog1.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h4 class="card-title">French Buger</h4>
                    <div class="card-text">Cras ultricies ligula sed magna dictum porta auris blandita</div>
                    <button class="btn btn-parent">View More</button>
                </div>
            </div>
            <div class="card" style="width:350px">
                <img src="../../Pictures/blog2.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h4 class="card-title">Veg Muffin</h4>
                    <div class="card-text">Cras ultricies ligula sed magna dictum porta auris blandita</div>
                    <button class="btn btn-parent">View More</button>
                </div>
            </div>
            <div class="card" style="width:350px">
                <img src="../../Pictures/blog3.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h4 class="card-title">Hashbrown Brioche</h4>
                    <div class="card-text">Cras ultricies ligula sed magna dictum porta auris blandita</div>
                    <button class="btn btn-parent">View More</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>