<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- --Bootstrap_4-- -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- --CSS-- -->
    <link rel="stylesheet" href="../../Css/components/Headers/Header-2.css">
    <!-- --JS-- -->
    <script src="JS/components/Header/Header.js"></script>

    <!-- Fontawesome -->
    <link href="../../fontawesome-free-5.9.0-web/css/all.css" rel="stylesheet">
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Header-2 -->
    <div class="header-2">
        <div class="container">
            <a href="" class="header_logo"><img src="../../Pictures/logo.png" alt=""></a>

            <div class="header_nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li>
                    <a href="#" class="dropdown">Other <i class="fas fa-chevron-down"></i></a>
                    <ul class="drop-nav">
                        <li><a href="">Blog</a></li>
                        <li><a href="">My Chef</a></li>
                        <li><a href="">Service</a></li>
                        <li><a href="">Event</a></li>
                    </ul>
                </li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Contact us</a></li>
                <li class="bar"><a href=""><i class="fas fa-bars"></i></a></li>
            </div>
        </div>
    </div>
</body>

</html>